<launch>
  <arg name="can_port" default="can0" />
  <arg name="auto_enable" default="true" />
  <arg name="gripper_val_mutiple" default="1" />
  <arg name="delay_test_mode" default="M1" />
  <!-- <include file="$(find piper_description)/launch/display_xacro.launch"/> -->
  <node name="delay_test_node" pkg="piper" type="delay_test_node.py" output="screen">
    <param name="delay_test_mode" value="M1" />
  </node>
  <!-- 启动机械臂节点 -->
  <node name="piper_ctrl_single_node" pkg="piper" type="piper_ctrl_single_node_delay_test.py" output="screen">
    <param name="can_port" value="$(arg can_port)" />
    <param name="auto_enable" value="$(arg auto_enable)" />
    <param name="gripper_val_mutiple" value="$(arg gripper_val_mutiple)" />
    <!-- <param name="rviz_ctrl_flag" value="true" /> -->
    <param name="girpper_exist" value="true" />
    <param name="delay_test_mode" value="M1" />
    <remap from="joint_ctrl_single" to="/joint_states" />
  </node>
</launch>
